# dependencies
node_modules/

# environment variables (VERY IMPORTANT)
.env

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build / temp files
dist/
build/
tmp/
temp/

# cache
.cache/

# IDE / editor
.vscode/
.idea/

# system files
*.swp
*.swo

# optional (if using uploads)
uploads/